[global]
logging-config = ./resources/logback-dev.xml

[aleph-http]
port = 8080
backlog = 1024

[parasoup]
real-domain = parasoup.de:8080

[hbase]
files-table = parasoup_files
hbase-site-xml = /mnt/btrfs/hadoop/local/hbase-0.98.3-hadoop2/conf/hbase-site.xml
