[global]
logging-config = ./resources/logback-dev.xml

[aleph-http]
port = 8080
backlog = 1024

[parasoup]
domain = parasoup.de
port = 80

[hbase]
files-table = parasoup_files
tokens-table = parasoup_tokens
hbase-site-xml = /mnt/btrfs/hadoop/local/hbase-0.98.3-hadoop2/conf/hbase-site.xml

[gfy-fetcher]
;disable = false
